body {
    background-color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

main {
    background-color: white;
    padding: 2em;
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 0.5em;
}

h1 {
    max-width: 90%;
    line-height: 2em;
}

h3 {
    margin-top: 5%;
}

p,
ul {
    margin-bottom: 5%;
    max-width: 75ch;
    line-height: 1.3em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    background-color: white;
    padding: 1em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

nav a {
    color: black;
    padding: 1em;
}

nav a:hover {
    color: white;
}

nav li:hover {
    background-color: black;
}

.page {
    background-color: rgb(199, 199, 199);
}

.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 550px) {
    body {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        padding: 2%;
        width: 100%;
    }

    h1 {
        font-size: 1.4em;
        margin-bottom: 10%;
    }

    h2 {
        font-size: 1.3em;
    }

    p {
        width: 100%;
    }

    nav li {
        padding: 0.6em;
        display: list-item;
        border-radius: 0.5em;
        margin: 1em;
    }

    .photos img {
        width: 80%;
        padding: 12;
    }
}